<div class="content">
    <div class="row">
        <div class="col">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>ID</th>
                <th>NOMBRE</th>
                <th>TIPO</th>
                <th>PRECIO</th>
                <th>INGREDIENTE</th>
                <th>VALORACION</th>
              </tr>
            </thead>
            <tbody *ngFor="let producto of comidas">
              <tr>
                <td>{{producto.id}}</td>
                <td>{{producto.nombre}}</td>
                <td>{{producto.tipo}}</td>
                <td>{{producto.precio}}</td>

              </tr>
            </tbody>
          </table> 
        </div>
      </div>
</div>